
pip>=25.0.1
streamlit
spacy==3.8.4
markdown-it-py==3.0.0
rich==13.9.4
pygments==2.19.1
mdurl==0.1.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
